<div class="room-container">
  <div class="room-container-box">
    <%= image_tag @room.room_image.url , class:'room-image'%>
    <div class="room-info">
      <div class="user-image">
        <%= image_tag '/assets/default-image.jpg', class: 'nav-item-image'%>
      </div>
      <div class="room-info-name">
        <p class="room-info-name-room"><%= @room.room_name%></p>
        <p class="room-info-address"><%= @room.address%></p>
      </div>
    </div>
    <p class="room-detail"><%= @room.description%></p>
  </div>
  <div class="room-show-nav">
    <h5><%= "#{@room.price}円/日" %></h5>
    <div>
      <%= render 'reservations/form'%>
    </div>
    <p></p>
  </div>
</div>